<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">


        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
        <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <!-- Header Start -->
        <div class="container-fluid bg-dark px-0">
            <div class="row gx-0">
                <div class="col-lg-3 bg-dark d-none d-lg-block">
                    <a href="index.html" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                    </a>
                </div>
                <div class="col-lg-9">
                    <div class="row gx-0 bg-secondary d-none d-lg-flex">
                        <div class="col-lg-7 px-5 text-start navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0 px-lg-5">

                        </div>
                        <div class="col-lg-5 px-5 text-end navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0 px-lg-5">

                        </div>
                    </div>
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0 px-lg-5">
                        <a href="/index" class="navbar-brand d-block d-lg-none">
                        </a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a href="/athlete" class="nav-item nav-link">Dashboard</a>
                                <a href="/athlete-view-schedule" class="nav-item nav-link active">View Schedule</a>
                                <a href="/athlete-max" class="nav-item nav-link">Max Lift Calculator</a>
                            </div>
                            <a href="/index" class="nav-item nav-link">Log Out</a>

                            <a class=" py-md-3 px-md-5 d-none text-white d-lg-block">[ATHLETE NAME]</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Header End -->




        <!-- Class Timetable Start -->
        <div class="container-fluid p-5">
            <div class="mb-5 text-center">
                <h5 class="text-primary text-black-50 text-uppercase">Schedule</h5>
                <h1 class="display-3 text-uppercase mb-0">Workout Hours</h1>
            </div>
            <div class="tab-class text-center">
                <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase mb-5">
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="pill" href="#monday">Monday</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="pill" href="#tuesday">Tuesday</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="pill" href="#wednesday">Wednesday</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="pill" href="#thursday">Thursday</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="pill" href="#friday">Friday</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="pill" href="#saturday">Saturday</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="pill" href="#sunday">Sunday</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="monday" class="tab-pane fade show p-0 active">
                        <!-- Monday workout blocks here -->
                        <div class="row g-5">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tuesday" class="tab-pane fade show p-0">
                        <!-- Tuesday workout blocks here -->
                        <div class="row g-5">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="wednesday" class="tab-pane fade show p-0">
                        <!-- Wednesday workout blocks here -->
                        <div class="row g-5">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="thursday" class="tab-pane fade show p-0">
                        <!-- Thursday workout blocks here -->
                        <div class="row g-5">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="friday" class="tab-pane fade show p-0">
                        <!-- Friday workout blocks here -->
                        <div class="row g-5">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="saturday" class="tab-pane fade show p-0">
                        <!-- Saturday workout blocks here -->
                        <div class="row g-5">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sunday" class="tab-pane fade show p-0">
                        <!-- Sunday workout blocks here -->
                        <div class="row g-5">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="bg-dark rounded text-center py-5 px-3">
                                    <h5 class="text-uppercase text-white workout-type">[Workout Type]</h5>
                                    <span class="text-uppercase text-white">Sets:</span>
                                    <h6 class="text-uppercase text-white sets">[Sets]</h6>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Edit Workout</button>
                                    <button class="btn btn-primary add-workout-btn" data-bs-toggle="modal" data-bs-target="#add-workout-modal">Add Workout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        
                    </div>
                </div>
                <!-- Add Workout Modal -->
                <div class="modal fade" id="add-workout-modal" tabindex="-1" role="dialog" aria-labelledby="add-workout-modal-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="add-workout-modal-label">Edit Workout</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="workout-name">Workout Name</label>
                                        <input type="text" class="form-control" id="workout-name" name="workout-name">
                                    </div>
                                    <div class="form-group">
                                        <label for="num-sets">Number of Sets</label>
                                        <input type="text" class="form-control" id="num-sets" name="num-sets">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary close-workout-modal" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary save-workout-btn">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Class Timetable Start -->

    <script>
        const editWorkoutBtns = document.querySelectorAll(".edit-workout-btn");
        const addWorkoutBtns = document.querySelectorAll(".add-workout-btn");
        const saveWorkoutBtn = document.querySelector(".save-workout-btn");
        const workoutNameInput = document.querySelector("#workout-name");
        const numSetsInput = document.querySelector("#num-sets");
        let currentWorkout = null;

        // Open the add/edit workout modal when the button is clicked
        editWorkoutBtns.forEach((btn) => {
            btn.addEventListener("click", () => {
                currentWorkout = btn.parentElement;
                const workoutType = currentWorkout.querySelector(".workout-type").textContent;
                const numSets = currentWorkout.querySelector(".sets").textContent;
                workoutNameInput.value = workoutType;
                numSetsInput.value = numSets;
                document.querySelector("#add-workout-modal-label").textContent = "Edit Workout";
            });
        });

        addWorkoutBtns.forEach((btn) => {
            btn.addEventListener("click", () => {
                currentWorkout = btn.parentElement;
                document.querySelector("#add-workout-modal-label").textContent = "Add Workout";
            });
        });

        // Save the changes when the save button is clicked
        saveWorkoutBtn.addEventListener("click", () => {
            const workoutName = workoutNameInput.value;
            const numSets = numSetsInput.value;

            if (currentWorkout) {
                currentWorkout.querySelector(".workout-type").textContent = workoutName;
                currentWorkout.querySelector(".sets").textContent = numSets;

            }

            // Reset the form
            workoutNameInput.value = "";
            numSetsInput.value = "";
            currentWorkout = null;

            // Close the modal
            const modal = document.querySelector("#add-workout-modal");
            const bootstrapModal = bootstrap.Modal.getInstance(modal);
            bootstrapModal.hide();
        });

        // Close the modal without saving when the close button is clicked
        const closeBtns = document.querySelectorAll("[data-dismiss='modal']");
        closeBtns.forEach((btn) => {
            btn.addEventListener("click", () => {
                currentWorkout = null;
                workoutNameInput.value = "";
                numSetsInput.value = "";

                const modal = document.querySelector("#add-workout-modal");
                const bootstrapModal = bootstrap.Modal.getInstance(modal);
                bootstrapModal.hide();

            });

        });

        // Close the modal and discard changes when the x button is clicked
        const modal = document.querySelector("#add-workout-modal");
        modal.addEventListener("hidden.bs.modal", () => {
            currentWorkout = null;
            workoutNameInput.value = "";
            numSetsInput.value = "";

        });
    </script>





    <!-- Back to Top -->
    <a href="#" class="btn btn-dark py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>